<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Añadir o actualizar codigos en inventarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
         
         
         
                
        
        <div>
            
            <h1>Actualizar inventarios con lista de precios</h1>
        <h4>Esta accion leera la base de datos de los precios, y añadira o actualizara el codigo en<br>
            todos los inventarios existentes de los agentes existentes</h4>
            
            <a href="MAIN_mostrar_inventarios.php"><-Menu Anterior</a>
        
         <br> <br> <br> <br>
        
        <h2>¡CUIDADO! NO REALICE ESTA ACCION SI TODOS LOS INVENTARIOS QUE LOS AGENTES TIENEN EN SU MOVIL <br>
            NO HAN SIDO SINCRONIZADOS:</h2>
         
        <h5>SE ACTUALIZARAN TODOS LOS INVENTARIOS Y LA VERSION DE CADA INVENTARIO <br>
            CAMBIARA POR LO TANTO SI LOS MOVILES NO HAN SINCRONIZADO SU INVENTARIO SE DESECHARA EL INVENTARIO DEL MOVIL <br>
            Y PREBALECERA EL INVENTARIO QUE ESTA EN EL SERVIDOR, CAUSANDO QUE EL INVENTARIO DEL MOVIL CON UNA VERSION ANTERIOR <br>
            SE DESECHE. ESTO OCURRIRA PARA TODOS LOS INVENTARIOS.</h5>
         
         <h5>Consejos:<br>
             -Realice esta accion solo hasta que este seguro que todos los inventarios han sido sincronizados <br>
             -Puede esperar hasta que todos los agentes hayan llegado a la bodega. <br>
             -Realice esta accion el Sabado o Domingo dias inabiles que le den la seguridad que todos los inventarios hayan sido sincronizados<br><br>
             -Recuerde hacer las modificaciones o agregar el nuevo precio en la base de datos catalogo_precios, ya que los inventarios seran actualizados con esa lista
           </h5>
         
         <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
         <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
         <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        
         <h1>Estas seguro de lo que haras? :D</h1>
         <a href ="actualizar_inventarios_con_lista_precios.php">Realizar Accion</a>
        
        </div>
        
        
    </body>
</html>
